
@import '../../node_modules/lucify-refugees/src/scss/styles.scss';

.main {
	width: 1920px;
	//background-color: white;
}

.refugee-map-time-layer {
	background-color: #969AA0;
}


.asylum-bar {
	opacity: 0.85;
	width: 5px !important;
}

.refugee-map-time-layer {
	width: 2560px;
}